body { 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#E5DED4;
}

.sandContainer { 
    height: 600px;
    width: 800px;
    background-color: white;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(80, 1fr);
}

.sandParticle { 
    background-color: white;
}
